:root{
  --black: rgba(19, 35, 47, 0.9);
  --white: #fff;
  --bg: #333;
  --btn:#0c9352;
  --hover:#168d5b;
  --gray:#a0b3b0;
}

.form {
  background: var(--bg); 
  padding: 80px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px var(--black);
  
}

.form .tab{
  padding: 15px 40px;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  background-color: var(--black);
}

.tab-group li {
  width: 50%;
  text-align: center;
}

.tab-group li a {
  display: block;
  padding: 15px;
  background-color: var(--black);
  color: var(--gray);
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.tab-group li a:hover {
  background: var(--hover);
  color: var(--white);
}



.field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.field-wrap label {
  transform: translateY(6px);
  color: var(--gray);
  font-size: 16px;
  pointer-events: none;
  transition: 0.25s ease;
}

.field-wrap input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 4px;
  transition: border-color 0.25s ease;
}


.button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: var(--btn);
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: var(--hover);
}


