@media (max-width: 780px) {
  .filterBtn{
    display: grid;
    grid-template-columns: auto auto;
  }

  .customCards{
    padding: 0 2.5rem;
  }
}

@media (max-width: 550px) {
  .filterBtn{
    display: grid;
    grid-template-columns: auto auto;
  }
  .customCards{
    padding: 0 5rem;
  }
}