.cart_empty{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  letter-spacing: 2px;
}

.cart_empty .icon{
  padding: 20px 0;
}

.cart_empty h2{
  padding: 15px 0;
}

.cart_empty .cartBtn{
  padding: 15px 10px;
  margin: 20px 0;
}

.cartWrapper .tableContent table{
  margin: 20px 0;
}


.cartWrapper .tableContent table tr td {
   padding: 20px 0;
}

.cartWrapper .tableContent table tr td button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

.cartWrapper .total button{
  padding: 0.5rem 1rem;
}

@media (max-width: 780px) {
  .cartWrapper{
    padding: 3rem 0;
  }

}

@media (max-width: 550px) {
  .cartWrapper{
    padding: 2rem 0;
  }
  .cartWrapper .tableContent thead tr{
    display: flex;
    align-items: center;
    gap: 3.7rem;
  }

  .cartWrapper .tableContent tbody tr{
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

}
