@import "tailwindcss";

:root{
  --green:rgb(34, 170, 34);
  --gray: rgb(152, 151, 151);
  --black: #000;
  --bgColor: #fff;
}

header{ 
  padding: 32px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--bgColor);
}

.logoutBtn{
  margin: 0 1.5rem;
}

 header nav button{
  display: none;
 }


header nav .btns form label{
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .btns form label input{
  display: flex;
  flex-basis: 1000px; 
  flex-grow: 1;     
  max-width: 1200px;  
  min-width: 400px;   
  padding: 0.5rem;
  text-indent: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  text-align: start;
}

header nav .btns form label .iconSearch{
  padding: 8px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 8px;
}


header nav .btns form button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}


header button{
  font-size: 16px;
  background-color: var(--green);
  border-radius: 15px;
  padding: 7px 10px;
}

 ul{
  padding: 30px 0;
  margin: 0 20px;
}

ul li a:hover,
ul li label select:hover{
  color: var(--green);
}

@media (max-width: 780px) {

header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 780px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    padding: 30px 0;
  }


  header nav ul {
    display: none;
  }

 

  header h1 {
    display: block;              
    font-size: 16px;             
    white-space: nowrap;       
  }

  header h1 span{
    font-size: 20px;
  }

  header nav button{
    display: flex;
    padding: 8px 10px;
    background-color: var(--green);
    border-radius: 15px;
  }

  header nav .btns form label input {
  flex-grow: 1;        
  min-width: 280px;   
  max-width: 950px;  
  padding: 0.5rem;
  }

}

@media (max-width: 550px) {
  header {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(--bgColor);
    overflow-x: hidden;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  header h1 {
    display: block;              
    font-size: 18px;             
    white-space: nowrap;       
  }

  header h1 span {
    font-size: 18px;
  }


  header nav .btns form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3px;
  }


  header nav .btns form label input {
  flex-grow: 1;        
  min-width: 180px;   
  max-width: 700px;  
  }
 

  header nav ul {
    display: none;
  }

  header nav button {
    background-color: var(--green);
    border-radius: 8px;
  }

  header .mode{
    background-color: var(--green);
    padding: 4px 6px;
    border-radius: 10px;
  }

  header .icon{
     width: 18px;
  }

  header nav .btns form label .iconSearch{
    padding: 5px;
  }
}
