@media (max-width: 780px) {
  .sidebar {
    width: 70px;
  }
  .sidebar ul li{
    padding-top: 20px;
  }

  .sidebar span,
  .sidebar h1{
    display: none;
  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 70px;
  }
   .sidebar span,
   .sidebar h1{
    display: none;
  }
}
