@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-dark: #333;
  --color-green: #045804;
  --color-grass: rgb(33, 173, 33);
  --color-beige: #CBCBC2;
  --color-white: #FFF;
  --transition-default: 0.3s ease;
}

*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}



body {
  background-color: var(--color-white);
  color: var(--color-dark);
  transition: background-color var(--transition-default), color var(--transition-default);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 55px;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none;
}

.container button{
  cursor: pointer;
}


@media (max-width: 780px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 10px;
  }
}

/*Dark Mode Styles */

.dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.dark .container {
  background-color: transparent;
}

.dark header{
  background-color: var(--color-dark);
}

.dark header .darkLightBtn{
  background-color: transparent;
  color: var(--color-white);
}

.dark .productCard,
.dark .card-description,
.dark .chatBotInput::placeholder,
.dark h1,
.dark h2,
.dark p,
.dark .cartWrapper tbody .midNum{
  color: var(--color-white);
  background-color: transparent;
}

.dark .productCard .heartBtn{
  padding: 5px 8px;
  
}

.dark button {
  background-color: var(--color-green);
  color: var(--color-white);
  transition: background-color var(--transition-default), color var(--transition-default);
}

.dark .productCard {
  background-color: transparent;
}

.dark .sidebar{
  background-color: transparent;
}

.dark .sidebar h1{
  color: var(--color-grass);
}

.dark .sidebar li:hover{
  background-color: var(--color-green);
}

.dark .modal-overlay .modal-content{
  background-color: var(--color-dark);
  padding: 20px;
}

.dark .modal-overlay .modal-content button{
  padding: 6px;
  border-radius: 16px;
}


.dark .cards{
  background-color: transparent;
}

.dark .statistics h1,
.dark .statistics p{
  color: var(--color-dark);
}

.dark .chatbot strong{
  color: var(--color-dark);
}

.dark .productPage p,
.dark .productPage h2{
  color: var(--color-dark);
}

.dark .commentSection h1{
  color: var(--color-white);
}